<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <script src="{{ url_for('static', filename='diary/add/js/run.js') }}" type="module"></script>

    <link href="{{ url_for('static', filename='diary/favicon.ico') }}" rel="shortcut icon" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='general/css/general.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='diary/add/styles.css') }}" rel="stylesheet" />

    <template id="slider-template">
        <div class="slider-container">
            <input type="range" class="slider" step="1" />
            <span class="slider-value"></span>
        </div>
    </template>

    <template id="tag-template">
        <div class="tag border">
            <span class="material-symbols-outlined close-button">close_small</span> <span data-bind="name"></span>
        </div>
    </template>
</head>
<body>
    <header class="header">
        <h1 class="title">Entry for 27 Mar</h1>
        <span class="material-symbols-outlined icon-button hoverable" style="font-size:0.7rem;">open_in_new</span>
    </header>
    <div class="hoz-line"></div>
    <main class="page-container">
        <div class="left-sidebar">
            <div class="rating-container border">

            </div>
            <div class="tag-container border">
                <form class="tag add-tag border" action="">
                    <span class="material-symbols-outlined">add</span>
                    <input type="text" class="tag-input hidden" placeholder="Tag name..." name="tag-input">
                </form>
            </div>
        </div>
        <main class="entry-container">
            <div contenteditable class="entry-input border">Write here...</div>
            <br>
            <button class="impact-button" style="--color:#42ab57;">
                <span class="material-symbols-outlined">task_alt</span> Save entry
            </button>
        </main>
        <div class="right-sidebar">
            <div class="collapse-button switch">
                <span class="material-symbols-outlined hoverable icon-button first">arrow_menu_open</span>
                <span class="material-symbols-outlined hoverable icon-button second">arrow_menu_close</span>
            </div>
            <div class="memory-container border">
                <p class="title">
                    <select class="delay-select border">
                        <option value="365">A year ago</option>
                        <option value="180">6 months ago</option>
                        <option value="30">A month ago</option>
                        <option value="7">A week ago</option>
                        <option value="1">A day ago</option>
                    </select>
                    <span class="material-symbols-outlined icon-button hoverable open-in-new-button" style="font-size:0.7rem;">open_in_new</span>
                </p>

                <p class="content">
                    <span class="date-value"></span>
                    <span class="entry-value"></span>
                </p>
            </div>
        </div>
    </main>
</body>