<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link href="{{ url_for('static', filename='diary/favicon.ico') }}" rel="shortcut icon" />
    <script src="{{ url_for('static', filename='diary/dashboard/js/run.js') }}" type="module"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='diary/dashboard/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='diary/dashboard/search.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='diary/css/diarystyles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='general/css/general.css') }}" rel="stylesheet" />

    <template id="data-rect-template">
        <div class="data-rect">
            <div class="circle"></div>
            <div class="text"><span data-bind="value"></span></div>
        </div>
    </template>

    <template id="entry-container-template">
        <div class="entry-container">
            <div class="data-container">
                <!-- populate using data-rect-template here -->
            </div>
            <div class="content">
                <div class="day-name">
                    <span class="day-text">
                        <span class="title-span"><span data-bind="title"></span></span>
                        <span class="date-span">(<span data-bind="date"></span>)</span> 
                    </span>
                    <div class="actions">
                        <span class="material-symbols-outlined menu-button hoverable edit-button" style="font-size:0.7rem;">edit</span>
                        <span class="material-symbols-outlined menu-button hoverable open-button" style="font-size:0.7rem;">open_in_new</span>
                    </div>
                </div>
                <div class="entry">
                    <span class="entry-content">
                        <span data-bind="entry"></span>
                    </span>
                </div>
            </div>
        </div>
    </template>

    <template id="empty-entry-template">
        <a class="empty-entry">
            <span class="empty-add-button material-symbols-outlined">add_2</span>
            <p class="date"><span data-bind="date"></span></p>
        </a>
    </template>

    <template id="tag-template">
        <div class="tag border"><span data-bind="name"></span></div>
    </template>
</head>
<body>
    <nav class="nav-bar">
        <form class="search-form">
            <button type="submit" class="search-button icon-button hoverable"><span class="material-symbols-outlined">document_search</span></button>
            <div class="text-input border">
                <select class="options">
                    <option value="all">All text</option>
                    <option value="title">Only title</option>
                    <option value="body">Only entry</option>
                </select>
                <input class="name-search" type="text" placeholder="Search text..." id="search-bar" autocomplete="off">
            </div>

            <div class="border tag-select collapsed">
                <input type="text" class="search-bar" placeholder="Search tags...">
                <div class="border tag-menu">
                    <p class="empty-msg hidden">No tags found</p>
                </div>
            </div>
        </form>
    </nav>
    <div class="results-indicator hidden">
        <div class="icon-button hoverable exit-search-button">
            <span class="material-symbols-outlined">arrow_back</span>
        </div>
        <p>You're viewing search results.</p>
        <form class="sort-form">
            <p>Sort by:</p>
            <select class="options border">
                <option value="matches">Matches</option>
                <option value="date">Date</option>
            </select>
        </form>
    </div>
    <main class="entry-parent"></main>
</body>
</html>