<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link href="{{ url_for('static', filename='diary/favicon.ico') }}" rel="shortcut icon" />
    <script src="{{ url_for('static', filename='diary/js/run.js') }}" type="module"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='diary/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='general/css/general.css') }}" rel="stylesheet" />

    <template id="data-rect-template">
        <div class="data-rect">
            <div class="circle"></div>
            <div class="text"><span data-bind="value"></span></div>
        </div>
    </template>

    <template id="entry-container-template">
        <div class="entry-container">
            <div class="data-container">
                <!-- populate using data-rect-template here -->
            </div>
            <div class="content border">
                <p class="day-name">
                    <span data-bind="date"></span>
                    <span class="material-symbols-outlined menu-button hoverable" style="font-size:0.7rem;">more_vert</span>
                </p>
                <div class="entry">
                    <span class="entry-content">
                        <span data-bind="entry"></span>
                    </span>
                    <p class="see-more-button">See more</p>
                </div>
            </div>
        </div>
    </template>
</head>
<body>
    <div class="entries-parent">
    <!-- To be populated by JavaScript -->
    </div>
</body>
</html>