<!DOCTYPE html>
<head>
    <title>Squee</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/run.js') }}" type="module"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" />
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />

    <template id="week-container-template">
        <div class="week-container">
            <div class="week-separator">
                <p class="date week-collapse-icon"><span data-bind="formatted-date"></span></p>
                <div class="vertical-line"></div>
                <!-- <span class="material-symbols-outlined week-collapse-icon rotated menu-button" style="font-size:16px; display:none;">chevron_right</span> -->
            </div>
            <!-- <div class="week-separator">
                Week ending <span data-bind="formatted-date"></span>
            </div> -->
            <div class="days"></div>
        </div>
    </template>

    <template id="item-template">
        <div class="item">
            <p class="heading"> <span data-bind="name"></span> </p>
            <div class="mono popup">
                <p><b> <span data-bind="name"></span> </b></p>
                <p><span data-bind="start"></span> - <span data-bind="end"></span></p>
                <p><span data-bind="duration"></span></p>
            </div>
        </div>
    </template>

    <template id="pad-item-template">
        <div class="pad-item">
            <div class="mono popup">
                <p><span data-bind="start"></span> - <span data-bind="end"></span></p>
                <p><span data-bind="duration"></span></p>
            </div>
        </div>
    </template>

    <template id="day-title-template">
        <div class="day-title">
            <img src="/static/img/menu.png" width="12px" height="12px" class="menu-button">
            <p class="title"><span data-bind="formatted-day"></span></b></p>
            <div class="mono context-menu hidden soft-hidden">
            </div>
        </div>
    </template>

    <template id="day-title-menu-title-template">
        <div>
        <p><b><span data-bind="formatted-day"></span></b></p>
        <p><span data-bind="day-of-week"></span></p>
        </div>
    </template>

    <template id="day-title-menu-body-template">
        <div>
        <br><canvas width="100" height="100"></canvas>
        <br>Woke at <b><span data-bind="woke"></span></b><br>
        Slept at <b><span data-bind="slept"></span></b>
        </div>
    </template>
</head>
<html>
    <body>
        <p class="editing-indicator soft-hidden">editing - <a class="editing-exit-button">exit</a></p>
        <form class="form-body" action="#" data-mode="add">
            <button class="add-btn" value="">
                <span class="material-symbols-outlined" style="color:#1f1f1f; font-size:16px;">add_circle</span>
            </button>

            <input class="mono" type="text" placeholder="Activity name" style="width:15rem;" id="name">

            <div class="vertical-line"></div>
            <input class="mono" type="time" style="width:3rem;" id="start" required>
            <p>to</p>
            <input class="mono" type="time" style="width:3rem;" id="end" required>
            <div class="vertical-line"></div>
            <div class="tag-select">
                <input type="radio" name="tag" class="tag" style="--col:220, 220, 220" checked id="default-tag">
                <input type="radio" name="tag" class="tag" style="--col:241, 154, 200"  title="Project">
                <input type="radio" name="tag" class="tag" style="--col:219, 43, 78"    title="Physics">
                <input type="radio" name="tag" class="tag" style="--col:250, 159, 78"   title="Chemistry">
                <input type="radio" name="tag" class="tag" style="--col:242, 207, 31"   title="Coding">
                <input type="radio" name="tag" class="tag" style="--col:127, 210, 81"   title="English">
                <input type="radio" name="tag" class="tag" style="--col:8, 163, 153"    title="Misc. productive">
                <input type="radio" name="tag" class="tag" style="--col:115, 191, 250"  title="ICT">
                <input type="radio" name="tag" class="tag" style="--col:160, 148, 255">
                <input type="radio" name="tag" class="tag" style="--col:141, 96, 191"   title="Psychology">
                <input type="radio" name="tag" class="tag" style="--col:18, 72, 161"    title="Social">
            </div>
        </form>

        <div class="display-form">
            <div class="switch switched" id="rigid-mode">
                <span class="material-symbols-outlined first" style="color:#1f1f1f;">timer_off</span>
                <span class="material-symbols-outlined second" style="color:#1f1f1f;">timer</span>
            </div>
            <div class="switch" id="compact-mode">
                <span class="material-symbols-outlined first" style="color:#1f1f1f;">expand</span>
                <span class="material-symbols-outlined second" style="color:#1f1f1f;">compress</span>
            </div>
            <div class="switch" id="show-others">
                <span class="material-symbols-outlined first" style="color:#1f1f1f;">visibility</span>
                <span class="material-symbols-outlined second" style="color:#1f1f1f;">visibility_off</span>
            </div>
        </div>

        <div class="parent-container"></div>
        <div class="errorbox hidden"></div>
    </body>
</html>
