:root {
    --padding:1rem;
    --container-height:2rem;
}

/*
Week container
*/
.week-separator {
    width:min-content;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:var(--container-height);
}

.week-container {
    width:100%;
    white-space: nowrap;
}

.date {
    width:4rem;
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    user-select: none;
}

.date-text {
    width:min-content;
    color:rgb(175, 175, 175);
    padding:1px;
    padding:3px;
    margin:1px;
}

.date-text.hoverable {
    border-radius:2px;
    transition: background-color 0.15s ease-out;
    cursor:pointer;
}

.date-text.hoverable:hover {
    background-color:rgb(245, 245, 245);
}

/*
Individual days
*/

.days {
    max-height:800px;
    transition: max-height 0.25s ease-in-out;
    width:100%;
    border-left:1px solid rgb(175, 175, 175);
}

.collapsed .days {
    max-height:0;
}

.container {
    vertical-align: top;
    min-width: 0;
    display: flex;
    white-space:wrap;
    align-items:center;
    height:var(--container-height);
    margin:var(--padding) 0;
    box-sizing:border-box;
}

.container:first-child {
    margin-top:calc(var(--padding)/2);
}

.container:last-child {
    margin-bottom:calc(var(--padding)/2);
}

/*
Day items
*/

div.item {
    padding: 0.4rem;

    flex: var(--f);
    box-sizing:border-box;

    border:2px solid rgb(var(--col));
    background-color:rgba(var(--col), 0.5);

    width:fit-content;
    min-width:0.1rem;
    user-select: none;
    height:100%;

    /* Center text */
    display:flex;
    align-items: center;
}

div.pad-item {
    flex: var(--f);
    user-select:none;
    height:100%;
}

div.item p.heading {
    overflow: hidden;             
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.6rem;
    line-height: 0.8rem;
    font-weight: 500;
}

/* 
Day titles (title popups are in popups.css)
*/

.day-title {
    width:4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    position:relative;
    overflow: visible;
}

.day-title .title {
    position:relative;
    float:left;
}
