/*
MAIN FORM
*/
.form-body {
    display:inline-flex;
    align-items:center;
    vertical-align: top;
    margin-bottom:1.75rem;
}

.form-body p {
    margin:0 0.5rem;
}

.form-body #add {
    margin-right:0.5rem;
}

div.vertical-line {
    border-left:1px solid var(--light);
    margin:0 0.5rem;
    height:1.5rem;
}

/* Tags */
div.tag-select {
    background-color:none;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    margin:0; 
    padding:0 0.25rem;

    height:1.5rem;
}

input.tag {
    outline:none !important;
    margin:0 0.125rem;
    padding:0;

    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(var(--col));

    border:4px solid white;
}

input.tag:checked {
    border:0px solid white;
}

.tag:not(:checked):hover {
    border:2px solid white;
}

/*
EDITING INDICATOR
*/

.editing-indicator {
    color:steelblue;
    font-weight:100;
    font-family: Helvetica, Arial, sans-serif;
    font-size:var(--font-regular);
    text-transform:uppercase;
}

.editing-exit-button {
    text-decoration:underline;
    text-decoration-thickness: 0.5px;
    cursor: pointer;
}

/*
DISPLAY FORM
*/

.display-form {
    position:absolute;
    top:1.75rem;
    right:2rem;

    display:flex;
    gap:0.4rem;
    justify-content:center;
}

.switch.switched .first {
    display:none;
}

.switch:not(.switched) .second {
    display:none;
}
