
.mono {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.errorbox {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border: 1px solid #eb3915;
    background-color: rgb(244, 206, 196);
    position: absolute;
    width:15rem;
    padding: 10px;
    right:1rem;
    top:1rem;
    z-index: 10; /* ensure above other elements */
}

/*
Context menus
*/

div.context-menu {
    width:fit-content;
    padding: 10px;
    z-index: 11; /* ensure above other elements */
    font-size: 0.75rem;
    line-height: 1rem;

    position:absolute;
    transition: opacity 0.1s ease-in-out; /* for animations */
}

.day-title .context-menu {
    text-align:center;
    font-weight:normal;

    left:4rem;
    top:0;
}

.menu-button {
    color:rgb(175, 175, 175);
    position:absolute;
    right:0.5rem;

    border-radius:2px;
    transition: background-color 0.15s ease-out;
    cursor:pointer;

    display:none; /* Initially hidden, shown on date hover */
}

.date:hover .menu-button {
    display:inline-block;
}

.menu-button:hover {
    background-color:rgb(245, 245, 245);
}

/*
Hover popups
*/

div.popup {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: none; /* initially hidden */
    position:fixed;
    width:fit-content;
    padding: 10px;
    z-index: 9; /* ensure above other elements */
    font-size: 0.75rem;
    line-height: 1rem;
    white-space:nowrap;
}
