.day {
    display:flex;
    gap:0.4rem; 
    width:60%;
}

.data-container {
    height:4rem;
    min-width:4rem;

    display:flex;
    flex-direction: column;
    gap:0.1rem;
    margin:0.2rem;
}

.data-rect {
    color:var(--off-black);
    text-transform: uppercase;
    font-size:var(--font-small);
    font-weight:950;
    
    flex-grow:1;
    width:100%;
}

.data-rect .background {
    width:calc(calc(var(--p)) * calc(100% - 0.2rem));
    height:100%;
    overflow:visible;
    background-color:var(--c);
    border-radius:3px;
    display:flex;
    align-items: center;
    padding-left:0.2rem;
}

.day-name {
    display:flex;
    align-items:center;
    gap:0.2rem;
}

.day-name > * {
    align-self: flex-start;
}

.content {
    flex-grow:1;
    padding:0.4rem;
}

.day-name {
    color:var(--regular);
    text-transform: uppercase;
    font-size:var(--font-small);
    font-weight:950;

    margin-bottom:0.4rem;
}

.entry {
    overflow:hidden;
    position:relative;

    /* Wrap lines iwth ellipsis */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal; 

    -webkit-line-clamp: 2; 
    height:max-content;
    
    transition:height 5s ease-out;
}

.entry .entry-content {
    display:block;
    width:calc(100% - 4rem);
}

.expanded-entry {
    -webkit-line-clamp:100;
}

.see-more-button {
    position:absolute;
    bottom:0;
    right:0;
    background-color:white;
    font-weight:950;
    color:var(--blue);
    cursor:pointer;
    width:4rem;
}

.menu-button {
    color:var(--regular);
    right:0.5rem;

    border-radius:2px;
    cursor:pointer;
}

.date:hover .menu-button {
    display:inline-block;
}
