.entry-container {
    display:flex;
    gap:0.4rem; 
    width:60%;
    padding-bottom:1rem;
}

.data-container {
    height:4rem;
    min-width:4rem;

    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 1fr 1fr;

    margin:0rem;
}


.data-rect {    
    --background-opacity: 20%;
    --border-opacity: 15%;

    position: relative;
    background-color:color-mix(in srgb, var(--c) var(--background-opacity), white);
    border-radius:5px;
    margin:0.2rem;
    padding:0.2rem;
}

.data-rect .circle {
    border-radius:50%;
    background-color:var(--c);
    height:100%;
    width:100%;
    mask-image: 
    conic-gradient(
        black 0deg calc(360deg*var(--p)),
        rgba(0,0,0,var(--border-opacity)) calc(360deg*var(--p)) 360deg 
    ), 
    radial-gradient(
        circle at center,
        transparent 55%,
        black 55%
    );
    mask-composite: intersect;
}

.data-rect .text {
    position:absolute;
    z-index:99;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    font-size:var(--font-small);
    color:var(--c);
    font-weight:700;
}

.day-name {
    display:flex;
    align-items:center;
    gap:0.2rem;
}

.day-name > * {
    align-self: flex-start;
}

.content {
    flex-grow:1;
    padding:0.4rem;
}

.day-name {
    color:var(--regular);
    text-transform: uppercase;
    font-size:var(--font-small);
    font-weight:950;

    margin-bottom:0.4rem;
}

.entry {
    overflow:hidden;
    position:relative;

    /* Wrap lines iwth ellipsis */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal; 

    -webkit-line-clamp: 2; 
    height:max-content;
    
    transition:height 5s ease-out;
}

.entry .entry-content {
    display:block;
    width:calc(100% - 4rem);
}

.expanded-entry {
    -webkit-line-clamp:100;
}

.see-more-button {
    position:absolute;
    bottom:0;
    right:0;
    background-color:white;
    font-weight:950;
    color:var(--blue);
    cursor:pointer;
    width:4rem;
}

.menu-button {
    color:var(--regular);
    right:0.5rem;

    border-radius:2px;
    cursor:pointer;
}

.date:hover .menu-button {
    display:inline-block;
}
