/* Navbar */
.search-form {
    display:flex;
    gap:0.5rem;
    align-items:center;
    padding-bottom:1rem;
}

.text-input, .search-button, .search-bar {
    height:2rem;
}

.text-input input[type="text"], .search-form select.options {
    height:100%;
    border:none;
    overflow:hidden;
}

.search-form select.options {
    border-right:1px solid var(--light);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text-input .name-search {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text-input input[type="text"]:focus, select.options:focus {
    outline:none;
}

.text-input {
    display:flex;
    align-items:center;
}

.options {
    background-color:var(--off-white);
}

.add-button {
    margin-left:auto;
    height:1.5rem;
}

/*
Tag input
*/
/* Main container */
nav .tag-select {
    padding: 1px;
    width:10rem;
    position: relative;

    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.tag-select.collapsed {
    height:2rem;
    border-radius:5px;
}

.tag-select:not(.collapsed) {
    align-self:flex-start;
}

/* Search bar */
.tag-select.collapsed .search-bar {
    height:100%;
}

.tag-select .search-bar {
    border:none;
    width:100%;
}

.search-bar.indicating {
    color:black;
}

/* Menu containing tags */
.tag-select .tag-menu {
    padding:.3rem;
    position: absolute;
    z-index:10;
    background-color:white;
    white-space:wrap;

    margin-top:1px;
    margin-left:-2px;

    width:calc(100% + 2px);

    border-top-left-radius:0;
    border-top-right-radius:0;

    max-height:10rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.tag-select.collapsed .tag-menu {
    display: none;
}

/* Tags */
.tag {
    display: inline-flex;
    align-items: center;
    padding:0.2rem 0.4rem;

    width:auto;
    position: relative;

    vertical-align: middle;
    height:25px;

    margin-right:0.2rem;
    margin-bottom:0.2rem;

    cursor:pointer;

    user-select: none;
}

.tag span {
    font-size:.75rem;
    margin-right:0.1rem;
    margin-left:-0.1rem;
}

.tag.selected {
    background-color:color-mix(in srgb, var(--blue) 50%, white);
    border-color:var(--blue);
}

/*
Matching
*/
.matching {
    display: flex;
    align-items: center;
    gap:0.1rem;
    font-size:var(--font-small);
    color:var(--dark);
    margin-left:0.75rem;
}

/*
Results indicator
*/
.results-indicator {
    display:flex;
    gap:0.2rem;
    align-items: center;
    margin-bottom:0.5rem;
}

.sort-form {
    display:flex;
    align-items: center;
    margin-left:auto;
    gap:0.2rem;
}

.sort-form .options {
    padding:0.15rem 0.3rem;
    background:var(--lightest);
    font-size:var(--font-regular);
}
