/* Navbar */
.search-form {
    display:flex;
    gap:0.5rem;
    align-items:center;
    padding-bottom:1rem;
}

.text-input, .search-button {
    height:2rem;
}

.text-input input[type="text"], .search-form select.options {
    height:100%;
    border:none;
    overflow:hidden;
}

.search-form select.options {
    border-right:1px solid var(--light);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text-input .name-search {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text-input input[type="text"]:focus, select.options:focus {
    outline:none;
}

.text-input {
    display:flex;
    align-items:center;
}

.options {
    background-color:var(--off-white);
}

.add-button {
    margin-left:auto;
    height:1.5rem;
}

/*
Matching (strict mode checkbox)
*/
.matching {
    display: flex;
    align-items: center;
    gap:0.1rem;
    font-size:var(--font-small);
    color:var(--dark);
    margin-left:0.75rem;
}

/*
Results indicator
*/
.results-indicator {
    display:flex;
    gap:0.2rem;
    align-items: center;
    margin-bottom:0.5rem;
}

.sort-form {
    display:flex;
    align-items: center;
    margin-left:auto;
    gap:0.2rem;
}

.sort-form .options {
    padding:0.15rem 0.3rem;
    background:var(--lightest);
    font-size:var(--font-regular);
}
